* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    font-size: 24px;
    text-align: center;
    color: black;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(177, 27, 27, 0.5); 
    font-weight: bold;
}

input {
    height: 40px;
   border: 2px solid #C0C0C0;
   background-color: #C0C0C0;
   color: #808080;
   outline: none;
   border-radius: 5px;  
}

button {
    border: none;]
    height: 44px;
    background-color: #C0C0C0;
    color: #808080;
    border-radius: 5px;
    cursor: pointer;
    


}

