* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
}

h1 {
    font-size: 24px;
    text-align: center;
    color: black;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(177, 27, 27, 0.5); 
    font-weight: bold;
    margin-bottom: 30px;
}

input {
    height: 40px;
   border: 2px solid #C0C0C0;
   background-color: #C0C0C0;
   color: #808080;
   outline: none;
   border-radius: 5px; 
   width: 70%; 
}

button {
    border: none;
    height: 40px;
    background-color: #C0C0C0;
    color: #808080;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    width: 90px;
}

button:hover {
    background-color: #808080;
    color: #C0C0C0;
}

button:active {
    background-color: #C0C0C0;
    color: #808080;
}

li {
    background-color:  ;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    list-style: none;
    color: #808080;
}


